header {
  padding-top: 20px;
  overflow: hidden;
  position: sticky;
  width: 100%;
}

#Logo {
  width: 100px;
  height: 92px;
  padding-top: 15px;
  margin-left: 25px;
}

body {
  overflow: hidden;
  float: left;
  position: relative;
  background-color: white;
  width: 1400px; height: 1200px;
  margin: 25px 100px 25px 75px;
}

/* Begin CSS for background images.*/

#bkgd-home {
  background-image: url("../images/bkg-home.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

/*Begin CSS for text in website.*/
br{
  white-space: normal;
}

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18pt;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16pt;
}

h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14pt;
  color: #666666;
  line-height: normal;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14pt;
  color: black;
  line-height: normal;

}

h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11pt;
  color: black;
  line-height:1.4;

}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 10pt;
  line-height: 1.6;
}

ul {list-style-type: disc;
   list-style-position: outside;
   padding: 20px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 400;
   font-size: 11pt;
   line-height: 1.8;
}

/*a:link{
text-decoration: none;
color: blue;
}

a:visited {
  color: #4d3f51;
  text-decoration: none;
}*/

.caption {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.6;
}

#highlight {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11pt;
  line-height: 1.8;
}

/*Begin CSS for Top navigation bar.*/

.topnav {
  padding-top: 15px;
  overflow: hidden;
  position: fixed;
  top: 150px;
  width: 100%;
  float:left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15pt;
  text-align: center;
  padding-left: 0px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 5px;
  margin-right: 20px;
  margin-left: 25px;
  text-decoration: none;
  text-align: center;
}

.topnav a:hover {
  background-color: white;
  color: black;
  border-bottom: 5px solid #ffd163;
  border-spacing: 2px;
  border-spacing: 25px;
}

/*CSS for content*/

.home-box{
  overflow: hidden;
  display: inline-block;
  float: left;
  vertical-align: top;
  position: relative;
  margin: 75px 50px 50px 50px;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 25px;
  width:90%;
  height: 800px;
  background-color: white;
  opacity: .92;
  box-shadow: 2px 4px 8px #666666;
  margin-left: 25px;
  top:25px;
}

/* Main Photo Carousel*/

.purple-car-wrap{
  width: 100%;
  height: 250px;
  background-color: #4d3f51;
  margin-left: 35px;
  margin-top: 25px;
  box-shadow: 2px 4px 8px #666666;
  display: inline-block;
  float: left;
}

.purple-car-inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.photo-tile{
  position: relative;
  display: inline-block;
  width: 225px;
  height: 175px;
  margin-right: 10px;
  font-size: 20px;
  top: 40px;
  left: 50px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  growFactor = 1.5;
  moveLeft = -(225px * (1.5 - 1) / 2);
  moveRight = 225px * (1.5 - 1);

}

.photo-tile a:link a:hover a:active a:visited {
  transition: color 150ms;
  color: #ffd163;
  text-decoration: none;
}

.photo-tile a:hover{
  border-bottom: 5px solid #ffd163;
}

.tile-img{
  width: 200px;
  height: 175px;
  object-fit: cover;
}

.tile-details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: opacity 450ms;
}

.tile-details &:after &:before {
    content: '';
    position absolute;
    top: 50%;
    left: 50%;
    display: black;
  }

  &:after {
    margin-top: (-(50px / 2));
    margin-left: (-(50px / 2));
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

  &:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
}

.tile:hover {
    opacity: 1;
  }

.tile-caption {
  position absolute;
  bottom: 0;
  padding: 10px;
}

/* profile-testimonials section*/

.profile-wrap{

  width: 100%;
  height: 280px;
  display: inline-block;
  float: left;
  margin: 15px;
  margin-top: 10px;
  padding-top: 0px;
  margin-right: 25px;
  padding-right: 25px;
}

.jw{
  width: 38%;
  height: inherit;
  display: inline-block;
  float: left;
  background-image: url("../images/purplebox-home.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 275px;
  margin-right: 75px;
  margin-left: 0px;
}

.jw-quote{
  width: 100%;
  height: inherit;
  display: block;
  float: left;
  padding-left: 75px;
  padding-top: 10px;
  margin-left: 15px;
}

blockquote{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 200;
  font-size: 11pt;
  color: black;
  line-height:1.6;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 50px;
}

quote {
font-family: Open Sans;
font-style: normal;
font-weight: 200;
font-size: 10pt;
color: black;
line-height:1.8;
}

.jw-pic{

  width: 10%;
  height: inherit;
  display: inline-block;
  float: left;
  padding: 20px;
  margin: 20px;
  padding-top: 10px;
  padding-left: 20px;
}

.testimonials{
  width: 35%;
  height: inherit;
  display: inline-block;
  float: right;
  margin-right: 40px;
}

#endorse{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12pt;
  color: black;
  line-height:1.4;
  text-align: right;
  padding-right: 70px;
  padding-left: 20px;
}

  /*Calendar section*/
  .cal-wrap{
    display: inline-block;
    width: 100%;
    float: left;
    margin-left: 60px;
    margin-right: 5px;
  }

  .calendar-event{
    display: inline;
    float: left;
    width: 30%;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 15px;
    right: 0;
    left: 0;
    }

  .calendar-event-rt{
    display: inline;
    float: left;
    width: 30%;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 15px;
    padding: none;
    right: 0;
    left: 0;
    }

.when{
  width: 30%;
  background-color: #251f1d;
  box-shadow: 4px 8px 10px #666666;
  border-radius: 0px 5px 5px 0px;
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px;
  display: inline-block;
  float: left;
  }

.eventday{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 10pt;
  color: #ffd163;
  text-indent: 10px;
  text-align: left;
  padding-top: 10px;
}

.eventdate{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 36pt;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.eventmonth{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18pt;
  color: white;
  text-align: center;
  padding-top: 0px;
}

.eventtime{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;

}

.where{
  width: 45%;
  background-color: #f1f1f1;
  box-shadow: 4px 8px 10px #666666;
  border-radius: 0px 5px 5px 0px;
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px;
  display: inline-block;
  float: left;

}

.eventname{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 11pt;
  color: black;
  text-align: left;
  padding: 12px;
}

.eventplace{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12pt;
  color: black;
  text-align: left;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.eventaddress{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 200;
  font-size: 10pt;
  color: black;
  text-align: left;
  padding: 0px 10px;
}

.eventtickets{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11pt;
  color: blue;
  text-align: left;
  padding: 10px 10px;
  bottom: 0;
}

.eventtickets a{
  color: blue;
  text-align: left;
  text-decoration: none;
