header {
  padding-top: 20px;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#Logo {width: 100px; height: 92px; padding-top: 25px; padding-left: 30px;}

body {
  overflow: hidden;
  float: left;
  position: relative;
  background-color: white;
  width: 1400px; height: 1200px;
  margin: 25px 100px 0px 100px;
}

/* Begin CSS for background images.*/

#bkgd-about {
  background-image: url("../images/bkg-about.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#bkgd-discog {
  background-image: url("../images/bkg-discog.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#bkgd-gallery {
  background-image: url("../images/bkg-gallery.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}


/*Begin CSS for text in website.*/

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18pt;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16pt;
}

h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14pt;
  color: #666666;
  line-height: normal;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14pt;
  color: black;
  line-height: normal;

}

h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12pt;
  color: black;
  line-height: normal;

}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.8;
}

ul {list-style-type: disc;
   list-style-position: outside;
   padding: 20px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 400;
   font-size: 11pt;
   line-height: 1.8;
}

.caption {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.6;
}

#highlight {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11pt;
  line-height: 1.8;
}

/*Begin CSS for Top navigation bar.*/

.topnav {
  padding-top: 25px;
  overflow: hidden;
  position: fixed;
  top: 150px;
  width: 100%;
  float:left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15pt;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: white;
  color: black;
  border-bottom: 6px solid #ffd163;
  border-spacing: 2px;
}

/*Begin CSS for Splash page.*/

.splash {
  padding-top: 250px;
  width: 1200px;
  /*height: 80%*/
}

.videocontrols
  controlslist: nodownload;
  autoplay:default;
}

/* Begin CSS for inside pages.*/


.content {
overflow: hidden;
display: none;
position: relative;
float: left;
width: 1400px;
height: 1000px;
margin: auto;
top:150px;
}

.subnav {
  float:left;
  position: static;
  display: inline-block;
  padding-top: 0px;
  margin: auto;
  width: 175px;
  height: 200px;
}

.subnav a{
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13pt;
  line-height: 2.2;
  color: black;
  text-align: right;
  text-decoration: none;
  position: static;
  width: 185px;
}

.subnav a:hover {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#purplebox {
  width: 100%;
  height: auto;
  float:left;
  position: absolute;
  display: inline-block;
  padding-top: 75px;
  margin-top: 275px;
  width: 175px;
  margin-left: 0px;
  background-image: url("../images/purplebox.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}

.maincontentbox {
  overflow: auto;
  display: inline-block;
  float: left;
  vertical-align: top;
  position: relative;
  margin: 100px 100px 100px 100px;
  padding: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
  width: 900px;
  height: 700px;
  background-color: white;
  box-shadow: 2px 4px 8px #666666;
  margin-left: 300px;
  top:200px;
}

/* Begin CSS specific to about page.*/

.imagetextbox {
  float: right;
  display: block;
  width: 25%;
  padding: 25px 20px 20px 30px;
}

.imageinside {
  float: left;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 40px;
}

/*Begin CSS specific to Music page.*/

.Albums {
padding: 10px 10px 10px 10px;
align-items: center;
float: left;
width: 100%;
}

.album-photo {
  box-shadow: 2px 4px 8px #666666;
  border-radius: 5px;
  float: left;
  display: block;
  width: 25%;
  margin: 20px 20px 20px 20px;
}

table{
  width: 70%;
  height: auto;
  text-align: left;
  padding: 0px 90px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.8;
  float: left;
}

.sgname{
  width: 175px;;
}

.sgtime{
  width: 25px;
}

tr:hover {
  background-color: #f5f5f5;
}
.songlist {
  float: left;
  padding: 10px 10px 10px 10px;
}

/*Begin CSS specific to photogallery page.*/

.gallery-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photocard-wrap {
  width: 275px;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.photocard {
  width: 250px;
  height: 225px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
  transition: all .3s ease-in-out;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.photocard > img {
  width: 100%;
  height: 100%;
}

.photocard:hover {
  width: 275px;
  height: 250px;
  z-index: 10;
  box-shadow: 0 50px 125px rgba(0, 0, 0, 0.4);
}

/*For video carousel*/

.video-carousel {
  position: relative;
  margin: 0px 10px;
  width: 80%;
}

iframe {

  margin-left: 50px;
  margin-top: 30px;
  box-shadow: 2px 4px 8px #666666;
}

.video {
  position: absolute;
  width: 100%;
}

.video-caption {
  width: inherit;
  margin-left: 50px;
  margin-top: 10px;
  background-color: rgba(102, 102, 102, 0.04);
  box-shadow: 2px 4px 8px #666666;
  padding: 20px;
}

.indicator{
  display: inline-block;
  position: relative;
  align: center;
}

.cir-indicator {
  display: inline-block;
  width: 20px;
  height:20px;
  border-radius: 50%;
  border-color: rgba(102, 102, 102);
  box-shadow: 1px 2px 4px #666666;
  margin: 0 3px;
  transition: #ffd163 0.6s ease;
  cursor: pointer;
}

.cir-indicator:hover {
  background-color: #ffd163;
}

.active {
  background-color: #ffd163;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
